/*
================================================================
Custom Font(s)
================================================================
*/

/*
================================================================
Variables
================================================================
*/

/*
================================================================
Mixins
================================================================
*/

@mixin section-size {
  height: 100vh;
  width: 100%;
}

@mixin center {
  transform: translate(-100%, -50%);
}

/*
================================================================
Global
================================================================
*/

html,
body {
  margin: 0 auto;
  color: #ffffff;
}

a {
  color: #4e0b0b;
}

/*
================================================================
1. Intro
================================================================
*/

.intro {
  @include section-size;
  background:
  linear-gradient(
  rgba(0, 0, 0, 6.5),
  rgba(0, 0, 0, 0.8)
  ),
  url(/src/img/intro-ink.jpg) no-repeat;
  background-size: cover;
}

.intro-title {
  margin-top: 190px;
  text-align: center;
  font-size: 12em;
  font-family: 'Aguafina Script', cursive;
  color: #000000;
  -webkit-text-stroke: 3px #ffffff;
}


/*
================================================================
2. Bio
================================================================
*/
.bio {
  height: 100%;
  // @include section-size;
  background:
  linear-gradient(
  rgba(0, 0, 0, 6.5),
  rgba(0, 0, 0, 0.8)
  )
  url(/src/img/bio-machine.jpg) no-repeat center center fixed;
  background-size: cover;
}

.bio__image-container {
padding: 20px 0;
}

.bio__image {

}

.bio__info-container {
  padding-top: 235px;
}

.bio__info-copy {
  font-size: 20px;
  line-height: 1.2em;
}

/*
================================================================
3. News
================================================================
*/

.news {
  background-color: #000000;
}

.news__container {
  padding: 20px 0;
}

.news__heading {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.news__copy {
  text-align: center;
  color: #ffffff;
}

.news__image {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

/*
================================================================
4. Work
================================================================
*/

.work {
  background-color: #4e0b0b;
}

.work__image-container {
  position: relative;
  padding-top: 25px;
}

.work__image {
  display: inline-block;
  border: solid 1px #000000;
  margin-bottom: 20px;
}

/*
================================================================
5. Contact (footer)
================================================================
*/

.contact {
  background-color: #B38A2D;
}

.contact__copy {
  color: #000000;
  text-align: center;
}

.contact__copy--small {
  font-size: 16px;
}

.contact__copy--large {
  font-size: 30px;
}

.contact__copy--padding-top {
  padding-top: 20px;
}

.contact__phone-number {
  color: #4e0b0b;
}

.contact__social-container {
  text-align: center;
}

.contact__social-icon {
  margin-bottom: 10px;
  color: #000000;
}

.contact__address {
  text-align: center;
  color: #000000;
}

/*
================================================================
Helpers
================================================================
*/

.center {
  margin: 0 auto;
  text-align: center;
}

/*
================================================================
Media Queries
================================================================
*/

@media screen and (min-width: 320px) and (max-width: 375px) {
  .intro {
    height: 25vh;
  }

  .bio__info-container {
    padding: 20px 0;
  }

  .news__image {
    width: 100%;
  }
}
