/*
================================================================
Custom Font(s)
================================================================
*/

// @font-face {
//     font-family: 'angilla_tattoo_personal_useRg';
//     src: url('../fonts/angillatattoo_personal_use_only-webfont.woff2') format('woff2'),
//          url('../fonts/angillatattoo_personal_use_only-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//
// }

/*
================================================================
Variables
================================================================
*/

/*
================================================================
Mixins
================================================================
*/

@mixin section-size {
  height: 100vh;
  width: 100%;
}

@mixin center {
  transform: translate(-100%, -50%);
}

/*
================================================================
Global
================================================================
*/

html,
body {
  margin: 0 auto;
  color: #ffffff;
}

/*
================================================================
1. Intro
================================================================
*/

.intro {
  @include section-size;
  background:
  linear-gradient(
  rgba(0, 0, 0, 6.5),
  rgba(0, 0, 0, 0.8)
  ),
  url(/src/img/intro-ink.jpg) no-repeat;
  background-size: cover;
}

.site-title {
  margin-top: 190px;
  text-align: center;
  font-size: 12em;
  font-family: 'Aguafina Script', cursive;
  color: #000000;
  -webkit-text-stroke: 3px #ffffff;
}


/*
================================================================
2. Bio
================================================================
*/
.bio {
  position: relative;
  @include section-size;
  background:
  linear-gradient(
  rgba(0, 0, 0, 6.5),
  rgba(0, 0, 0, 0.8)
  )
  // url(/src/img/bio-machine.jpg);
  // background-size: cover;
}

.bio__image-container {
  position: relative;
}

.bio__image {
  position: absolute;
  top: 50vh;
  left: 50vh;
  @include center;
}

.bio__info-container {
  position: relative;
}

.bio__info-copy {

}



/*
================================================================
3. Work
================================================================
*/

.work {
  @include section-size;
  background-color: red;
}

/*
================================================================
4. Contact (footer)
================================================================
*/

.contact {
  height: 100px;
  background-color: pink;
}
